td{
	color: darkblue;
	background-color: rgb(95, 117, 255);
	text-align: center;
	border: 2px solid;
}
tr{
	border: 2px solid;
	text-align: center;
	background-color: blueviolet;
	font-weight: bold;
	font-size: medium;
}body{
	background-image: url(../media/background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color: skyblue;
	font-size: 20px;
}
#planets {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
