td{
	color: darkblue;
	background-color: rgb(95, 117, 255);
	text-align: center;
	border: 2px solid;
}
tr{
	border: 2px solid;
	text-align: center;
	background-color: blueviolet;
	font-weight: bold;
	font-size: medium;
}
